<div class="inline-block bg-[#f7f0fd] border">
    <div class="flex w-full border">
        <div class="w-[55%] border px-24 py-52">
            <h1 class="text-[3rem] leading-relaxed font-semibold w-full border">One
                <span class="bg-[#FFC200] rounded-md border">marketing analytics</span>
                <br/>
                <span class="bg-[rgb(255,194,0)] rounded-md border">suite</span> to replace them all
            </h1>
            <app-logos></app-logos>
            <br/>
            <app-blue-btn></app-blue-btn>
        </div>
        <div class="w-[45%] border">
            <app-video-frame></app-video-frame>
        </div>
    </div>
    <div class="w-full inline-block border">
        <div class="w-1/2 border mx-auto">
            <h1 class="text-[3rem] leading-relaxed text-center font-semibold border">
                Join <span class="text-[#CD3EDB] rounded-md border">2000+</span> Happy Clients
            </h1>
        </div>
        <div class="w-[80%] border mx-auto">
            <div class="inline-flex justify-between border" *ngFor="let logo of Logos">
                <img class="aspect-auto object-contain m-12 border " src={{logo.src}}/>
            </div>
        </div>
    </div>
</div>

