<div class="w-full py-20">
    <div class="w-full text-center px-72 ">
        <h1 class="text-[3rem] leading-relaxed font-semibold w-full">
            <span class="bg-[#FFC200] rounded-md">Data Powerhouse.</span> Intelligence at Scale.
        </h1>
        <p class="text-[#808080]">Import your marketing data from all the sources to a single place–Google Sheet, (i.e. you can import all your Google ads data, Linkedin ads data, Facebook ads data to Google Sheets) in just 3 clicks. Zero learning curve.</p>
    </div>
    <div class="w-[100%]">
        <video class="mx-auto" src="https://vaizle.com/assets/vcox-tw3/home/videos/Web.mp4" autoplay loop poster="https://vaizle.com/assets/vcox-tw3/home/frames/Web.png" ></video>
    </div>
</div>