<div class="w-full p-20">
    <div class="w-full text-center my-16 border ">
        <h1 class="text-[3rem] leading-relaxed font-semibold w-full border">
            <span class="bg-[#FFC200] rounded-md border">Data-Driven</span>Marketing Decisions
        </h1>
    </div>
    <div class="w-full inline-flex justify-around">
        <div class="w-[45%] pr-16">
            <ul class="inline-flex">
                <li [ngClass]="{'text-[#007AC6] border-active border-b-2 border-[#007AC6] text-active': activeTab === 1}" class="text-2xl mr-12 mb-1 font-semibold ">
                    <button (click)="changeText(1)">Dashboard</button>
                </li>
                <li [ngClass]="{'text-[#007AC6] border-active border-b-2 border-[#007AC6] text-active': activeTab === 2}" class="text-2xl mr-12 mb-1 font-semibold ">
                    <button (click)="changeText(2)">Analysis</button>
                </li>
                <li [ngClass]="{'text-[#007AC6] border-active border-b-2 border-[#007AC6] text-active': activeTab === 3}" class="text-2xl mr-12 mb-1 font-semibold ">
                    <button (click)="changeText(3)">Audience</button>
                </li>
            </ul>
        
            <div class="mt-12">
                <h1 class="text-[2.75rem] leading-relaxed font-semibold w-full border">{{ currentText.heading }}</h1>
                <p class="text-sm leading-7 text-[#808080] md:w-11/12 mb-3 md:max-w-lg md:text-base md:leading-7">{{ currentText.desc }}</p>
        
                <ul class="pl-6 text-[#808080] list-disc marker:text-[#808080]" *ngFor="let item of currentText.list">
                    <li class="text-base leading-8">{{ item.li }}</li>
                </ul>
                <div class="mt-10">
                    <app-blue-btn></app-blue-btn>
                </div>
            </div>
        </div>
        <div class="w-[50%] mt-12 pl-20 border">
                <app-video-frame></app-video-frame>
        </div>
    </div>
</div>